h1 {
    font-size: 500%;
    text-align: center;
    color:white;
    margin: 50;
    padding: 50px;
    font-style: oblique;
}

.firstone{
    font-size: x-large;
    color: black;
    padding: 20px;
}
.all{
    font-size: large;
    color: black;
    padding: 10px;
}
body{
    background-color:gray;
}
header{
    margin: 50px;
    height: min-content;
    background-color:black;
}
h2{
    font-size: 30px;
}
